{% extends "frontend_base.html" %}

{% block content %}

<div class="justify-between items-center mx-auto w-full px-10 py-10">
    <div class="grid grid-cols-4 gap-4">
        <div class="w-full max-w-sm bg-white dark:bg-gray-800 px-0 transition-all duration-300 hover:drop-shadow-md">
            <div class="w-full">
                <div class="flex items-center m-2">
                    <div class="flex-shrink-0">
                        <img class="w-12 h-12 rounded-full" src="https://secure.gravatar.com/avatar/82d76ac5aea6be5ad3feceb3a8547b41" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <h4 class="font-bold text-primery"><span class="italic text-secondary">by</span> Neil Sims</h4>
                        <h6 class="text-third truncate dark:text-third">
                            Editor & Author
                        </h6>
                    </div>
                </div>
            </div>
            <div class="w-full h-1/2 overflow-hidden">
                <a href="#" class="">
                    <img class="w-full h-full transition-all duration-500 ease-in rounded-lg cursor-pointer filter grayscale hover:grayscale-0 hover:scale-105" src="https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef" alt="product image" />
                </a>
            </div>
            
            <div class="px-1 py-5">
                <h1 class="text-gray-900 dark:text-white"><a href="#">Insipidity sufficient dispatched any reasonably</a></h1>
                
            </div>
            <div class="relative h-8 w-full">
                <div class="absolute inset-x-0 bottom-5 items-center text-secondary px-1">March 6, 2024 . 2 Comments</div>
            </div>
           
        </div>
        <div class="w-full max-w-sm bg-white dark:bg-gray-800 px-0 transition-all duration-300 hover:drop-shadow-md">
            <div class="w-full">
                <div class="flex items-center m-2">
                    <div class="flex-shrink-0">
                        <img class="w-12 h-12 rounded-full" src="https://secure.gravatar.com/avatar/82d76ac5aea6be5ad3feceb3a8547b41" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <h4 class="font-bold text-primery"><span class="italic text-secondary">by</span> Neil Sims</h4>
                        <h6 class="text-third truncate dark:text-third">
                            Editor & Author
                        </h6>
                    </div>
                </div>
            </div>
            <div class="w-full h-1/2 overflow-hidden">
                <a href="#" class="">
                    <img class="w-full h-full transition-all duration-500 ease-in rounded-lg cursor-pointer filter grayscale hover:grayscale-0 hover:scale-105" src="https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef" alt="product image" />
                </a>
            </div>
            
            <div class="px-1 py-5">
                <h1 class="text-gray-900 dark:text-white"><a href="#">Style begin mr heard by in music tried do</a></h1>
                
            </div>
            <div class="relative h-8 w-full">
                <div class="absolute inset-x-0 bottom-5 items-center text-secondary px-1">March 6, 2024 . 2 Comments</div>
            </div>
           
        </div>
    </div>
</div>



{% endblock content %}