@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../src/fonts/Helvetica.ttf');
    }
    
    html {
        @apply text-gray-500;
    }
}